body {
  background-color: #f8f9fa; 
}

#wrapper {
  overflow-y: auto;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;

}

.infoboks {
  width: 13rem;
  margin-top: 33rem;
}

.logud {
  width: 9rem;
  margin-top: 30rem;
}


.knapstorrelse {
  width: 8rem;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}

.imgsize {
  min-width: 200px; 
  max-height: 400px;
}

  /* these styles are for the demo, but are not required for the plugin */
  .zoom {
      display:inline-block;
      position: relative;
  }
  
  /* magnifying glass icon */
  .zoom:after {
      content:'';
      display:block; 
      width:33px; 
      height:33px; 
      position:absolute; 
      top:0;
      right:0;
      background:url(../img/icon.png);
  }

  .zoom img {
      display: block;
  }

  .zoom img::selection { background-color: transparent; }

  .ex2 img:hover { cursor: url(../img/grab.cur), default; }
  .ex2 img:active { cursor: url(../img/grabbed.cur), default; }

  .tablesorter-bootstrap:not(.table-dark)>tbody>tr.odd>td, .tablesorter-bootstrap:not(.table-dark)>tbody>tr.tablesorter-hasChildRow.odd:hover~tr.tablesorter-hasChildRow.odd~.tablesorter-childRow.odd>td {
    background-color: #dedfe0;
}

.maxbredde {
  max-width: 250px;
}